body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background:#3714e3;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

h1 {
    color: #3714e3;
    text-align: center;
    margin-top: 20px;
}

form {
    width: 50%;
    margin: 30px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

form input, form textarea, form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

form textarea {
    resize: vertical;
    height: 100px;
}

form button {
    width: 100%;
    background-color: #3714e3;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #3714e3;
}

.error {
    color: red;
    font-size: 0.9em;
    margin-top: -15px;
    margin-bottom: 10px;
}

a.back-link {
    display: inline-block;
    margin: 20px auto;
    color: #3714e3;
    text-decoration: none;
}

a.back-link:hover {
    text-decoration: underline;
}